extends ../layout.pug

block content
  h1 Create a new book
  form(method="post" action="/books")
    .form-group
      label(for="book-title") Title:
      input.form-control(id="book-title" name="book[title]" type="text" value="")
    .form-group
      label(for="book-published") Published At:
      input.form-control(id="book-published" name="book[published_at]" type="date" value="")
    .form-group
      label
        span Fiction?  &nbsp; 
        input(id="book-fiction" name="book[fiction]" type="checkbox" value="true")
    .form-group
      label(for="book-author") Author:
      input.form-control(id="book-author" name="book[authors][0][name]" type="text" value="")
    .form-group
      label(for="book-genres") Genres:
      select.form-control(id="book-genres" name="book[genres]" multiple)
          for genre in genres
            option(value=genre.id)= genre.name
    div
      input.form-control(type="submit" value="Create Book")
