extends ./layout.pug

block content
  h1 Homepage
  ul
    li
      a(href='/books') All Books
    li
      a(href='/books/new') Add a Books
    li
      a(href='/search') Search
    li
      a(href='/books/new') New Entry
